// -----------------------------------------------------------------------------
// This file contains CSS helper classes for specifics and generics devleoppements.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

/* ****************** Specifique Développement ****************** */
#root {
  display: grid;
  grid-template-rows: 13rem 1fr auto;
  row-gap: 2rem;
}

@media (max-width : $breakpoint-xl) {
  #root {
    grid-template-rows: 8rem 1fr auto;
  }

  .mobile-wrap {
    overflow: hidden;
    background: var(--saumon-light);

    #root {
      transform: scale(0.8) translateX(-60vw) translateZ(0) !important;
      transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
      height: 100vh;
      overflow: hidden;
      background: var(--white);
    }
  }
}

.vw-30 {
  width: 30vw;
}

/* ****************** Générique Développement ****************** */
.navigation-links {
  @include navigation-links()
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.separator {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem 0;
  text-transform: uppercase;
  color: var(--blue-light);
}

.click-here {
  font-size: 1.5rem;
  color: var(--saumon);
  font-weight: 300;
  cursor: pointer;

  &:hover {
    i {
      transition: all 0.4s;
      transform: translateX(0.5rem);
    }
  }
}

.form-control.is-invalid {
  border: 2px solid #dc3545 !important;
  border-radius: 1rem;
  background-color: #f9d9dc !important;
}