@mixin h2($variant) {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    color: $variant;
    position: relative;

    &::before {
        @include line(-5rem, $variant);
    }

    &::after {
        @include line(1rem, $variant);
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 3rem;
    }
}

@mixin line($number, $background) {
    display: inline-block;
    position: absolute;
    content: '';
    top: 50%;
    transform: translate($number, -50%);
    width: 4rem;
    height: 0.3rem;
    background: $background;
}

.gf-title-principal {
    @include h2(var(--saumon))
}