/**
 * Basic typography style for copy text
 */
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900|Oleo+Script+Swash+Caps:300,400,500,600,700,800,900|Galada:300,400,500,600,700,800,900&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: $text-color;
  font: normal 1.2rem / 1.4 $font-01;
}
