@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-justify($content) {
  display: flex;
  flex-direction: row;
  justify-content: $content;
  align-items: center;
}

@mixin flex-column-justify($content) {
  display: flex;
  flex-direction: column;
  justify-content: $content;
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin height {
  @media screen and (max-height:660px) {
    @content;
  }
}

@mixin navigation-links() {

  a,
  button {
    @include flex-row-justify(center);
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 50rem;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--blue);
    font-weight: bold;
    background-color: transparent;

    &:hover,
    &.active {
      background-color: var(--blue);
      color: white;
    }
  }

  &.no-hover {

    a,
    button {
      background: none;
      color: inherit;
    }
  }

  &.off-stream {
    display: inline-flex;
    position: absolute;
    height: 6.9rem;
    left: 2.3rem;
  }
}

@mixin clip($color, $dimension) {
  height: $dimension;
  width: $dimension;
  background: $color;
  clip-path: circle(50% at 50% 50%);
}